/* start variables */
:root {
  --main-color: ;
  --back-color: ;
  --text-color: ;
}
/* end variables */
/* dark mode  */
.dark-mode {
  --main-color: ;
  --back-color: ;
  --text-color: ;
}
/* dark mode  */
/* start global rules */
* {
  -webkit-box-sizing: border-box;
  -o-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  /* font-family: ; */
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
html {
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}
img {
  max-width: 100%;
}
/* End Global Rules */

.list--Tabsui {
  display: none;
}
.GridItem {
  flex-basis: 250px;
}
.GridItem span.BG--GridItem {
  display: block;
  height: 350px;
  width: 100%;
  background-image: var(--image);
  background-size: cover;
  background-position: center center;
  border-radius: 8px;
}
.Grid--WecimaPosts {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 35px 0;
}
.GridItem strong {
  white-space: pre-wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 0;
}
.GridItem strong * {
  text-align: center;
}
header,
.RightUI,
.LeftUI,
.list--Tabsui,
footer,
.PostItemStats,
wecimaslider,
.GotoTop {
  display: none !important;
}
.List--Download--Wecima--Single {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.List--Download--Wecima--Single a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 150px;
  max-width: 100%;
  margin: 20px auto 0px;
}
.List--Download--Wecima--Single a::before {
  font: var(--fa-font-solid);
  content: "\f019";
  color: rgb(255 255 255 / var(--tw-text-opacity));
  font-size: 40px;
}
size {
  color: rgb(37 99 235 / var(--tw-bg-opacity));
}
.result {
  margin-top: 50px;
}
.List--Seasons--Episodes {
  padding: 25px 0;
}
.List--Seasons--Episodes a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 300px;
  max-width: 100%;
  margin: 20px auto 0px;
}
.Episodes--Seasons--Episodes {
  padding: 25px 0;
  display: flex;
  flex-direction: column-reverse;
}
.Episodes--Seasons--Episodes a {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  padding: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  width: 300px;
  max-width: 100%;
  margin: 20px auto 0px;
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  backdrop-filter: blur(8px);
  height: 100%;
  background-color: rgb(15 23 42 / 0.7);
  min-height: 100vh;
  min-height: 100svh;
  z-index: 500;
}
.modal .exit {
  font-size: 30px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  top: 15px;
}
.hide {
  display: none !important;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
/* start header */
.header {
  background-color: rgb(37 99 235 / 0.6);
  box-shadow: 0px 10px 13px -7px #000000;
  margin-bottom: 25px;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 20px;
}

.logo {
  font-family: "Baron Neue", sans-serif;
  color: white;
  font-size: 23px;
  position: relative;
  z-index: 1;
  user-select: none;
  width: fit-content;
}
.logo::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgb(55 65 81 / var(--tw-bg-opacity));
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  z-index: -1;
  transform: rotate(150deg);
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
}

/* end header */
.player {
  margin-top: 80px;
}
.player iframe {
  width: 100%;
  height: 60vh;
}
@media (max-width: 400px) {
  .modal {
    padding: 0;
  }
}
